<% title page: "Hello, I'm Antoine, 'sup ?" %>

<div class="row about" itemscope itemtype="http://schema.org/Person">
  <aside class="about-picture"><img itemprop="image" src="/img/me.jpg"></aside>
  <article class="about-content" itemprop="description">
    <p>I’m a self-taught 23 years old <span itemprop="jobTitle">Developer and Designer</span> living near Paris.</p>
    <p>Back in 2008, after graduating from a litterary baccalauréat I did two years in Plastic Arts at the university Paris 1, Panthéon Sorbonne and then switched to a Graphic Design course at l’Ecole Multimedia.</p>
    <p>From September 2011 to September 2012, I worked as a Developer and Designer <br />
    at Beautiful Agency while taking a Web Development course at l’Ecole Multimedia.</p>
    <p>On a daily basis, I enjoy writing comprehensive, maintanable and test-driven code mainly in JavaScript, Ruby and Objective-C to build wonderful websites and applications.</p>
    <p>When I have the opportunity I like to draw pixel perfect websites and user interfaces using well-known tools like Photoshop and Illustrator.</p>
    <p>In my spare time, as a wannabe artist, I enjoy taking daily life photographies, playing & composing music (DJing and MAO), drawing and painting.</p>
    <section class="about-contact">
      <div class="about-contact-inner">
        <h3 class="heading2">Want to work with me ?</h3>
        <p>As a passionate, I’m always looking for new fun projects to work on.<br />
          Then feel free to contact me if you want me to help you with your projects.</p>
        <div class="about-contact-links">
          <a href="http://www.linkedin.com/in/alagadec" class="btn" target="_blank"><i class="icon icon-linkedin">&#62232;</i>Curriculum Vitae</a><br />
          <a href="mailto:hello@antoinelagadec.com" itemprop="email" class="btn" target="_blank"><i class="icon icon-mail">&#128319;</i>hello@antoinelagadec.com</a>
        </div>
    </section>
  </article>
</div>
