<section class="row about">
  <div class="about-picture"><img src="/img/me.jpg"></div>
  <div class="about-content">
    <p>I’m a self-taught 23 years old <strong>Front-End Developer</strong> and <strong>Designer</strong> living near Paris.</p>

    <p>Back in 2009, after graduating from a litterary baccalauréat I learned two years Plastic Arts at the university <strong>Paris 1, Sorbonne</strong> and then switched to a Graphic Design course at l’<strong>Ecole Multimedia</strong>.</p>

    <p>Since then, I worked a year as a Designer and Front-End Developer at<br />
    <strong>Beautiful Agency</strong> while taking a Web Development course at l’Ecole Multimedia.</p>

    <p>On a daily basis I enjoy writing beautiful code mostly in <strong>HTML</strong>, <strong>CSS</strong> and <strong>JavaScript</strong> <br />
    but also in <strong>PHP</strong>, <strong>Ruby</strong> and <strong>Objective-C</strong> to build awesome websites and applications. <br />
    And when I have the opportunity I also like to design pixel perfect web designs and user interfaces.</p>

    <p>At last, in my spare time, as a wannabe artist, I also enjoy taking photographies of people, playing music (DJing and MAO), drawing and painting.</p>
  </div>
</section>