<section class="row about">
  <div class="about-picture"><img src="/img/me.jpg"></div>
  <div class="about-content">
    <p>I’m a self-taught 23 years old Front-End Developer and Designer living near Paris.</p>
    <p>Back in 2009, after graduating from a litterary baccalauréat I did two years in Plastic Arts at the university Paris 1, Panthéon Sorbonne and then switched to a Graphic Design course at l’Ecole Multimedia.</p>
    <p>From September 2011 to September 2012, I worked as a Front-End Developer <br />and Designer at
    Beautiful Agency while taking a Web Development course at l’Ecole Multimedia.</p>
    <p>On a daily basis I enjoy writing beautiful and maintanable code mostly in HTML, CSS and JavaScript
    but also in PHP, Ruby and Objective-C to build wonderful websites and applications.</p>
    <p>When I have the opportunity I like to draw pixel perfect websites and user interfaces.</p>
    <p>In my spare time, as a wannabe artist, I enjoy taking photographies of daily life, playing & composing music (DJing and MAO), drawing and painting.</p>
    <div class="about-contact">
      <div class="about-contact-inner">
        <h3 class="heading2">Wanna work with me ?</h3>
        <p>As a passionate, I’m always looking for new fun project to work on.<br />
          Then feel free to contact me if you want me to help you with your projects.</p>
        <div class="about-contact-links">
          <a href="mailto:hello@antoinelagadec.com" class="btn"><i class="icon icon-linkedin"></i>Curriculum Vitae</a><br />
          <a href="mailto:hello@antoinelagadec.com" class="btn"><i class="icon icon-mail"></i>hello@antoinelagadec.com</a>
        </div>
      </div>
    </div>
  </div>
</section>