<section class="row about">
  <div class="about-picture"><img src="/img/me.jpg"></div>
  <div class="about-content">
    <p>I’m a self-taught 23 years old Front-End Developer and Designer living near Paris.</p>

    <p>Back in 2009, after graduating from a litterary baccalauréat I learned Plastic Arts at the university Paris 1, Panthéon Sorbonne and then switched to a Graphic Design course at l’Ecole Multimedia.</p>

    <p>Since then, I worked a year as a Front-End Developer and Designer at<br />
    Beautiful Agency while taking a Web Development course at l’Ecole Multimedia.</p>

    <p>On a daily basis I enjoy writing beautiful code mostly in HTML, CSS and JavaScript <br />
    but also in PHP, Ruby and Objective-C to build awesome websites and applications. <br />
    And when I have the opportunity I also like to design pixel perfect websites and user interfaces.</p>

    <p>At last, in my spare time, as a wannabe artist, I also enjoy taking photographies of people, playing music (DJing and MAO), drawing and painting.</p>
  </div>
</section>