<div class="photos row">
<% unless @photos.nil? %>
  <% @photos.each do |photo| %>
    <a class="a-photo-cover" href="/photos/<%= photo.slug %>">
      <h3 class="heading2"><%= photo.name %></h3>
      <div class="a-photo-cover-normal">
        <img src="<%= photo.cover_url %>" alt="">
      </div>
      <div class="a-photo-cover-blurred">
        <img src="<%= photo.cover_blurred_url %>" alt="">
      </div>
    </a>
  <% end %>
<% else %>
  No photos available yet
<% end %>
</div>