<% title(page: "Here's some projects I worked on") %>

<div class="projects row">
<% unless @projects.nil? %>
  <% @projects.each do |project| %>
    <a class="a-project-cover" href="/projects/<%= project.slug %>">
      <h3 class="heading2"><%= project.name %></h3>
      <div class="a-project-cover-normal">
        <img src="<%= project.cover_url %>" alt="">
      </div>
      <div class="a-project-cover-blurred">
        <img src="<%= project.cover_blurred_url %>" alt="">
      </div>
    </a>
  <% end %>
<% else %>
  No projects available yet
<% end %>
</div>
